.mat-card-image {
  width: auto;
}

mat-card {
  width: auto;
  height: auto;
}

mat-card-title {
  font-size: larger;
  font-weight: bolder;
}

mat-card-subtitle {
  font-size: medium;
  font-weight: lighter;
  font-style: italic;
}
