.planets {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.planet {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}
